@font-face{
  font-family:'digital-clock-font';
  src: url('./Assets/Technology.ttf');
 }


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  background: white
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial
}

body {
  font-family: "Playfair Display", serif;
}

h2 {
  margin-bottom: 1rem;
}

button {
  padding: 0.25rem 1rem;
  font-family: inherit;
  border: none;
  cursor: pointer;
}

button.primary {
  background-color: var(--green);
  color: white;
}

.app {
  margin: 0 auto;
  max-width: 1200px;
}

.detail {
  text-align: center;
}

.detail img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 500px;
  padding: 5px;
}

.detail h1 {
  text-align: center
}

.detail p1 {
  display: inline-block;
  padding: 10px;
  font-size: 18px
}

.detail p {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  text-align: left;
}

.detail a {
  display: inline-block;;
  justify-content: center;
  font-family: 'digital-clock-font';
  margin: 1rem 2rem;
  text-decoration: none;
  font-size: 1.2em;
  color: red;
  border-bottom: 2px solid red;
  transition: 0.1s;
  float: none;
  text-align: center
}

.detail a:hover {
  color: black;
  border-bottom: 2px solid black;
}


header h1 {
  font-size: 5.5em;
  font-weight: 500;
  text-align: center;
  padding: 0.5rem 0;
  font-family: 'digital-clock-font';
  color: red;
}

header {
  background: black
}

nav {
  text-align: center;
}

nav a {
  display: inline-block;;
  justify-content: center;
  font-family: 'digital-clock-font';
  margin: 1rem 2rem;
  text-decoration: none;
  font-size: 1.2em;
  color: red;
  border-bottom: 2px solid red;
  transition: 0.1s;
  float: none;
  text-align: center
}

nav a:hover {
  color: black;
  border-bottom: 2px solid black;
  background-color: red
}

main {
  padding: 0 1rem;
}

.new-game-form {
  padding: 2rem 1rem;
  margin: 2rem 0;
  background-color: white;
  text-align:center;
  vertical-align:middle;
}

.new-game-form h2 {
  font-family: 'digital-clock-font';
  color: red;
  font-size: 2em;
  font-weight: 500;
}

.new-game-form form {
  width: 60%;
   float: none;
   margin-left: auto;
   margin-right: auto;
   position: relative;
   min-height: 1px;
}

.genreContainer h2{
  font-family: 'digital-clock-font';
  color: red;
  text-align: center;
  margin-top: 10px;
  font-size: 40px;
  font-weight: 500;
}

.genreContainer ul {
  border-bottom: 2px solid red;
}

.new-game-form input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  color: #000000;
  font-size: 15px;
  padding: 2px;
  
}

#review {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  color: #000000;
  font-size: 15px;
  padding: 2px;
  height: 200px;
  width: 75%;
  resize: none;

}

.new-game-form button {
  display: inline-block;;
  justify-content: center;
  font-family: 'digital-clock-font';
  margin: 1rem 2rem;
  text-decoration: none;
  font-size: 1.2em;
  color: red;
  transition: 0.1s;
  float: none;
  text-align: center;
  background: black;  
}

.new-game-form button:hover{
  color:black;
  background:red
}

.new-game-form label {
  margin-top: 5px;
}

.searchbar {
  font-family: 'digital-clock-font';
  padding: 1rem;
  display: flex;
  flex-direction: column;
  color: red;
  font-size: 1.5em;
}

.searchbar label {
  font-family: 'digital-clock-font';
  font-size: 1.5em;
  font-weight: 500;
}

label {
  font-weight: bold;
  display: block;
}

.cards {
  list-style: none;
}

.card {
  margin: 1rem;
}

.card:hover {
  color:red;
  cursor: pointer;
}

.card h4 {
  text-align:center;
}

.card img {
  height: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card button {
  margin-top: 0.5rem;
}

@media (min-width: 768px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    width: calc(33% - 2rem);
  }
}

@media (min-width: 1024px) {
  .card {
    width: calc(25% - 2rem);
  }
}

@media (min-width: 1200px) {
  .card {
    width: calc(20% - 2rem);
  }
}
